body{
	display: flex;
	justify-content: center;
	align-items: center;
}
#disp{
	background-color: green;
    width: 107px;
    height: 98px;
    border-radius: 50%;
    margin:auto;
    display: flex;
	align-items: center;
	justify-content: center;
	font-size: 27px;

	
}
.container{
	border-radius: 50%;
    background-color: grey;
    /*bord: ;*/
    /*width: 250px;*/
    /*width: 5;*/
    height: 360px;
    width: 400px;
    display: flex;
	align-items: center;
	justify-content: center;
}
p{
	text-align: center;
	font-size: 18px;
}
.timer
{

}
.cd{
	
}